
.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url('../images/background_header.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
}


.header__title {
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-weight: normal;
  font-size: 72px;
  line-height: 76px;
   margin: 183px 0 0;
  max-width: 709px;
  z-index: 2;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__span-accent {
  font-style: italic;
  color: #2f80ed;
  display: block;

}

.header__description {
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
  z-index: 2;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 40px;
  z-index: 1;
  
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__paragraph {
  color: #6f6f6f;
  margin: 0;
}
